<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>老人健康查体列表</title>
  <script src="/layui/layui.js"></script>
  <script src="/layui/lay/modules/element.js"></script>
  <script src="/layui/layui.js"></script>
  <link rel="stylesheet" href="../../static/layui/css/layui.css">
  <link rel="stylesheet" href="/layui/css/layui.css" th:src="@{/layui/css/layui.css}">
<!--  <script src="http://code.jquery.com/jquery-latest.js"></script>-->
  <script src="../../static/js/jquery-3.5.0.min.js"></script>
  <script type="text/javascript" src="/js/jquery-3.5.0.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">社区养老服务健康查体列表</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/adminview">控制台</a></li>
      <li class="layui-nav-item"><a href="javascript:;">药品管理</a>
        <dl class="layui-nav-child">
          <dd><a href="/medicinelist">全部药品</a></dd>
          <dd><a href="">急救药</a></dd>
          <dd><a href="">常用药</a></dd>
          <dd><a href="">管控药</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="javascript:;">老人信息</a>
        <dl class="layui-nav-child">
          <dd><a href="/oldList">老人信息</a></dd>
          <dd><a href="/oldList">健康信息</a></dd>
          <dd><a href="/relationList">亲属信息</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          小吴
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="/login">退出</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">

        <li class="layui-nav-item">
          <a href="javascript:;">日常照料</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">日常就餐</a></dd>
            <dd><a href="javascript:;">健康查体</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">急救方案</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">中风急救</a></dd>
            <dd><a href="javascript:;">脑溢血急救</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body" id="container">
    <!-- 内容窗口-->
    <!-- 展示数据信息-->
    <table class="layui-hide" id="demo" lay-filter="test"></table>

    <script>
      function queryData(){
        $.ajax({
          type:"GET",
          url:"ajaxTest",
          // data:{"id":val},     // data参数是可选的，有多种写法，也可以直接在url参数拼接参数上去，例如这样：url:"getUser?id="+val,
          data:"",
          async:true,   // 异步，默认开启，也就是$.ajax后面的代码是不是跟$.ajx里面的代码一起执行
          cache:true,  // 表示浏览器是否缓存被请求页面,默认是 true
          dataType:"json",   // 返回浏览器的数据类型，指定是json格式，前端这里才可以解析json数据
          success:function(data) {

          }
        });
      }
      layui.config({
        version: '1586046995289' //为了更新 js 缓存，可忽略
      });

      layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate = layui.laydate //日期
                ,laypage = layui.laypage //分页
                ,layer = layui.layer //弹层
                ,table = layui.table //表格
                ,carousel = layui.carousel //轮播
                ,upload = layui.upload //上传
                ,element = layui.element //元素操作
                ,slider = layui.slider //滑块

        //向世界问个好
        layer.msg('Hello Condition List');

        //监听Tab切换
        element.on('tab(demo)', function(data){
          layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
            tips: 1
          });
        });

        //执行一个 table 实例
        table.render({
          elem: '#demo'
          ,height: 460               //table高度的数据值
          ,url: '/table' //数据接口
          ,title: '用户表'
          ,page: true //开启分页
          ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
          ,totalRow: true //开启合计行
          ,parseData:function (res) {
            return{
              "code":res.code
              ,"msg":res.msg
              ,"count":res.count
              ,"data":res.data
            }
          }
          ,cols: [
            [ //表头
              {type: 'checkbox', fixed: 'left'}
              ,{field: 'level_id', title: 'ID', width:80, sort: true, fixed: 'left', totalRowText: '合计：'}
              ,{field: 'questionnaire_key', title: '身份证', width: 120, sort: true, totalRow: true}
              ,{field: 'class_name', title: '用户名', width:280}
              ,{field: 'class1', title: '一级标题', width:80, sort: true}
              ,{field: 'class2', title: '二级标题', width: 80, sort: true, totalRow: true}
            ]
          ]
        });


        //监听行单击事件（双击事件为：rowDouble）
        table.on('row(test)', function(obj){
          var data = obj.data;

          layer.alert(JSON.stringify(data), {
            title: '当前行数据：'
          });

          function method(){
            $.ajax({
              type:"GET",
              url:"ajaxTest",
              // data:{"id":val},     // data参数是可选的，有多种写法，也可以直接在url参数拼接参数上去，例如这样：url:"getUser?id="+val,
              data:"",
              async:true,   // 异步，默认开启，也就是$.ajax后面的代码是不是跟$.ajx里面的代码一起执行
              cache:true,  // 表示浏览器是否缓存被请求页面,默认是 true
              dataType:"json",   // 返回浏览器的数据类型，指定是json格式，前端这里才可以解析json数据
              success:function(data) {
                alert(JSON.stringify(data))
              }
            });
            layer.msg("执行了");
          }
          method();

        });



        //分页
        laypage.render({
          elem: 'pageDemo' //分页容器的id
          ,count: 100 //总页数
          ,skin: '#1E9FFF' //自定义选中色值
          //,skip: true //开启跳页
          ,jump: function(obj, first){
            if(!first){
              layer.msg('第'+ obj.curr +'页', {offset: 'b'});
            }
          }
        });

        //底部信息
        var footerTpl = lay('#footer')[0].innerHTML;
        lay('#footer').html(layui.laytpl(footerTpl).render({}))
                .removeClass('layui-hide');
      });
    </script>

  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="../src/layui.js"></script>
<script>
  //JavaScript代码区域
  layui.use('element', function () {
    var element = layui.element;

  });
</script>
</body>
</html>
